.body_tobacco{
    background-image: url(./Assets/Niidea.avif);}

.flex-container-h1-tobacco {
display: flex;
height: 550px;
width: 100%;
background-image: url(./Assets/img-tobacco.jpg);
background-size: 85rem 50rem; 
justify-content: center;
align-items: center;}

.productos_tobacco_img1
{width: 55%;
height: 150px;
margin-top: 15px;
position: relative;
left: 45%;
background-color: #8b4513;
border: 10px;
border-style:groove;
border-color: #8b4513; 
border-right: none;}

.productos_tobacco_img2
{width: 55%;
height: 150px;
margin-top: 15px;
background-color:#561a1c;
border: 10px;
border-style: groove;
border-color:#561a1c; 
border-left: none;}

.img_tobacco_cogo1 
{
display: inline;
width: 100%;
height: 150px;
padding-bottom: 25px;
padding-right: 10px;}

.div_text_tobacco0
{height: 150px;
width: 40%;
border: 10px;
border-style:double;
border-color: rgb(131, 126, 126);
position: relative;
bottom: 127%;
left: 135%;
color: white;}

.div_text_tobacco2 
{height: 150px;
width: 40%;
border: 10px;
border-style:double;
border-color: rgb(131, 126, 126);
position: relative;
bottom: 9px;
left: 135%;
color: white;}

.div_text_tobacco1 
{height: 150px;
width: 40%;
border: 10px;
border-style:double;
border-color: rgb(131, 126, 126);
position: relative;
bottom: 5px;
right: 75%;
color:white}
