   
@media screen and (max-width: 1100px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}

    .Tabaqueria
   {position: relative;
    width: 45.83em;
    height: 390px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}

    .growshop
   {position: relative;
    display: block;
    width: 45.83em;
    height: 390px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}

    .Coffeeshop
   {position: relative;
    top: 70%;
    display: block;
    width: 41.66em;
    height: 390px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}

    #h2-1{
        z-index: 1;
        position: relative;
        top: 3rem;
        left: 38rem;
        font-size: 22px;
        color: white;
        }
        #h2-2{
        z-index: 1;
        position: relative;
        top: 3rem;
        left: 3rem;
        font-size: 22px;
        color: white;
        }
        #h2-3{
        z-index: 1;
        position: relative;
        top: 79%;
        left: 34rem;
        font-size: 22px;
        color: white;
        }
   }

  @media screen and (max-width: 1000px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}
    
    .Tabaqueria
    {position: relative;
    width: 41.66em;
    height: 380px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
    
    .growshop
    {position: relative;
    display: block;
    width: 41.66em;
    height: 380px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    .Coffeeshop
    {position: relative;
    display: block;
    width: 41.66em;
    height: 380px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    #h2-1{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 34rem;
    font-size: 22px;
    color: white;
    }
    #h2-2{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 3rem;
    font-size: 22px;
    color: white;
    }
    #h2-3{
    z-index: 1;
    position: relative;
    top: 79%;
    left: 34rem;
    font-size: 22px;
    color: white;
    }
    }
    
@media screen and (max-width: 900px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}
    
    .Tabaqueria
    {position: relative;
    width: 37.5em;
    height: 370px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
            
    .growshop
    {position: relative;
    display: block;
    width: 37.5em;
    height: 370px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    .Coffeeshop
    {position: relative;
    display: block;
    width: 37.5em;
    height: 370px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    #h2-1{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 30rem;
    font-size: 22px;
    color: white;
    }
    #h2-2{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 3rem;
    font-size: 22px;
    color: white;
    }
    #h2-3{
    z-index: 1;
    position: relative;
    top: 79%;
    left: 29rem;
    font-size: 22px;
    color: white;
    }    }
    

@media screen and (max-width: 800px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}
    
    .Tabaqueria
    {position: relative;
    width: 33.33em;
    height: 360px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
            
    .growshop
    {position: relative;
    display: block;
    width: 33.33em;
    height: 360px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    .Coffeeshop
    {position: relative;
    display: block;
    width: 33.33em;
    height: 360px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    #h2-1{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 26rem;
    font-size: 22px;
    color: white;
    }
    #h2-2{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 3rem;
    font-size: 22px;
    color: white;
    }
    #h2-3{
    z-index: 1;
    position: relative;
    top: 79%;
    left: 25rem;
    font-size: 22px;
    color: white;
    }    }
            
        
@media screen and (max-width: 700px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}
    
    .Tabaqueria
           {position: relative;
    width: 29.16em;
    height: 350px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
    
    .growshop
    {position: relative;
    display: block;
    width: 29.16em;
    height: 350px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    .Coffeeshop
    {position: relative;
    display: block;
    width: 29.16em;
    height: 350px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    #h2-1{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 22rem;
    font-size: 22px;
    color: white;
    }
    #h2-2{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 3rem;
    font-size: 22px;
    color: white;
    }
    #h2-3{
    z-index: 1;
    position: relative;
    top: 79%;
    left: 21rem;
    font-size: 22px;
    color: white;
    }    }
            
    
@media screen and (max-width: 600px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}
    
    .Tabaqueria
    {position: relative;
    width: 25em;
    height: 340px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
            
    .growshop
    {position: relative;
    display: block;
    width: 25em;
    height: 340px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    .Coffeeshop
    {position: relative;
    display: block;
    width: 25em;
    height: 340px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    #h2-1{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 18rem;
    font-size: 22px;
    color: white;
    }
    #h2-2{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 2rem;
    font-size: 22px;
    color: white;
    }
    #h2-3{
    z-index: 1;
    position: relative;
    top: 79%;
    left: 17rem;
    font-size: 22px;
    color: white;
    }    }
   
    
@media screen and (max-width: 500px) {
    .Grid-item1
    {width: 55%;
    height: 150px;
    margin-top: 15px;
    position: relative;}
    
    .Tabaqueria
    {position: relative;
    width: 20.83em;
    height: 330px;
    left: 10%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
    
    .growshop
    {position: relative;
    display: block;
    width: 20.83em;
    height: 330px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    .Coffeeshop
    {position: relative;
    display: block;
    width: 20.83em;
    height: 330px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;}
    
    #h2-1{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 14rem;
    font-size: 22px;
    color: white;
    }
    #h2-2{
    z-index: 1;
    position: relative;
    top: 3rem;
    left: 2rem;
    font-size: 22px;
    color: white;
    }
    #h2-3{
    z-index: 1;
    position: relative;
    top: 79%;
    left: 13rem;
    font-size: 22px;
    color: white;
    }    }